html
    head
        title="Error"
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P", rel="stylesheet")
        link(href="https://unpkg.com/nes.css/css/nes.css", rel="stylesheet")
        script(type="text/javascript" src="/js/shader-setup.js")
    body
        h1=" HealtyBoi Challenge"
        div(class="container" style="background-color: red;")
          p.
            #{message}
