html, body {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('https://i.imgur.com/6Infbfn.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

#welcome-balloon {
    position: absolute;
    top: 30px;
    left: 30px;
}

h1 {
    text-align: center;
    text-size: 10em;
    background-color: #3B5249;
    padding: 10px;
    width: auto;
    color: #A4B494;
    padding: 20px;
}

.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    flex-wrap: wrap;
}

.auth-container {
    max-height: 100vh;
    height: 80%;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.auth-container .nes-container {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.card {
    text-align: center;
    background-color: #34252F !important;
    color: #fff;
    padding: 10px;
    margin: 20px !important;
    display: block;
    width: 40%;
    max-width: 320px;
}

.status-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.status-bar span {
    font-size: 1.2em !important;
    margin-right: 4px;
}

.card img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.card canvas {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.custom-dialog {
    text-align: center;
}

.custom-dialog .dialog-menu {
    padding: 0;
}
